* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

button:active,
button:focus,
div[role="button"] {
  outline: none;
  cursor: pointer;
}

.site-wrapper {
  display: grid;
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 40px;
  grid-template-columns: calc(20% - 32px) 1fr;
  grid-template-rows: 44px 1fr;
  grid-row-gap: 50px;
  grid-template-areas:
    "header header"
    "nav main";
}
.site-header {
  position: fixed;
  left: 32px;
  right: 0;
  top: 0px;
  padding-top: 20px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.site-nav {
  position: fixed;
  overflow: auto;
  margin-left: 32px;
  width: 190px;
  top: 114px;
  height: calc(100% - 114px);
}

.menu-button {
  padding: 0;
  background-color: #fff;
  border: none;
  width: 20px;
  height: 17px;
  margin-right: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nemu-line {
  width: 20px;
  height: 3px;
  display: block;
  background-color: #1f2022;
  border-radius: 20px;
}

.search-wrapper {
  padding: 12px 18px 12px 23px;
  margin-left: 59px;
  max-width: 830px;
  min-width: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-radius: 22px;
  width: calc(100% - 510px);
  background-color: #ebebeb;
}

.search-input {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
}

.search-button {
  border-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 19px;
  height: 19px;
}

.icon-shape,
.icon-widget {
  fill: #000;
}

.widget-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
}

.icon-widget {
  opacity: 0.24;
}

.icon-widget:hover {
  opacity: 1;
}

.user-avatar {
  margin-left: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 60px;
}

.icon {
  fill: #898989;
}

.nav-item svg {
  color: #898989;
}

.nav li {
  margin-bottom: 28px;
}

.nav li span {
  margin-left: 14px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #898989;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-link:hover .icon {
  fill: #ff0000;
}

.subscriptions {
  margin-bottom: 104px;
}

.subscriptions-title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.subscriptions-nav {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

.sub-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.sub-items {
  margin-top: 23px;
}

.sub-link img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.sub-link span {
  color: #898989;
}

.nav-settings,
.nav-settings li {
  margin-bottom: 40px;
}

.site-main {
  position: fixed;
  top: 114px;
  left: 255px;
  width: calc(100% - 255px);
  height: calc(100% - 180px);
  margin-bottom: -64px;
  overflow: auto;
}

.channel-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.channel-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.channel-title {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.video-card {
  width: 250px;
}

.recomended-card {
  width: 540px;
}

.video-thumb {
  position: relative;
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
}

.recomended-thumb {
  width: 540px;
  height: 250px;
}

.video-thumb img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.recomended-thumb img {
  width: 540px;
  height: 250px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3px 9px;
  text-align: center;
  border-radius: 12px;
}

.video-title {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}

.video-info {
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-counter {
  display: flex;
}

.video-views {
  margin-right: 5px;
}

.video-views::after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.control-button {
  margin-right: 149px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.channel-button-prev,
.channel-button-next {
  cursor: pointer;
  height: max-content;
}

.channel {
  margin-bottom: 50px;
}

.food-sub-totle {
  margin-left: 9px;
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
}

.button-subscribe {
  cursor: pointer;
  background: #ff0000;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  margin-right: 30px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
